
.ant-form-item{
    margin-bottom: 8px;

}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td
{
    position: relative;
    padding: 6px 6px;
}

.ant-pro-card-header-border {
    padding-bottom: 6px;
}

.ant-page-header {
   
    padding: 6px 24px;

}

.ant-pro-card-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 0px;
}

.ant-pro-page-container-children-content {
    margin: 24px 24px 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 0;
}