
.ant-form-item{
    margin-bottom: 8px;

}

.formTable .ant-table-thead > tr > th, 
.formTable .ant-table-tbody > tr > td, 
.formTable .ant-table tfoot > tr > th, 
.formTable .ant-table tfoot > tr > td 
{
    position: relative;
    padding: 6px 6px !important;
}

.ant-pro-card-header-border {
    padding-bottom: 6px;
}

.ant-page-header {
   
    padding: 6px 20px;

}
.ant-pro-card-title {
    font-weight: 550  !important;
    font-size: 14px !important;
}


.ant-pro-card-body {
    padding: 16px !important;
}

.ant-pro-card-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 0px;
}

.ant-pro-page-container-children-content {
    margin: 0px 20px 0;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
   
}


.ant-table-container table>thead>tr:first-child th:first-child {
    border-top-left-radius: 2px;
}

.ant-card{
    margin: 0px 20px 0;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}

.ant-pro-table-search{
    margin: 0px 0px 0;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}
.ant-table-thead>tr>th {
    color: rgba(0,0,0,.85);
    font-weight: 800  !important;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    transition: background .3s ease;
}
.ant-pro-card-title {
    font-weight: 800;
    font-size: 12px;
    /* font-family: '微软雅黑 Regular'; */
}


.ant-layout {
    background-color: #eef0f5;
   
}

.ant-pro-global-header-logo a h1 {
    height: 32px;
    margin: 0 0 0 8px;
    margin: 0 0 0 12px;
    color: #1890ff;
    font-weight: 500;
    font-size: 16px;
    font-family: '微软雅黑 Regular';
    line-height: 32px;
}

.ant-page-header-heading-title {
    margin-left: 12px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-family: '微软雅黑 Regular';
    font-size: 15px;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ant-btn {

    border-radius: 2px !important;
  
}
.ant-pro-global-header-layout-mix {
    background-color: #282b33;
  

}
.ant-pro-global-header-layout-mix .anticon {
    color: #adb0b8;;
}

